/* nav section */
.nav-button {
  font-weight: 700;
}
.navbar-logo {
  font-weight: 700;
  font-size: 40px;
}
/* banner section */

.banner-text {
  background-color: rgba(0, 0, 0, 0.527);
}
.banner-text h1 {
  font-size: 3vw;
}
.banner-text p {
  font-size: 1.2vw;
}

/* courses section */
.card-body h4 {
  font-size: 24px;
  font-weight: 700;
}
.card-body p {
  font-size: 16px;
}

.course-head h1 {
  font-size: 45px;
  font-weight: 700;
}
